@use "../../src/scss/Variables.scss" as *;
@use "../../src/scss/Settings.scss" as *;
@use "../../src/scss/bgStyles.scss" as *;
@use "../../src/scss/clamp.scss" as *;
@use "sass:math";


@font-face {
    font-family: "Agrandir Bold";
    src: url("../../src/fonts/AgrandirBold.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    src: url("../../src/fonts/Poppins-Regular.ttf") format("truetype");
}

body{
    display: grid;
}

.text {
    @extend .defaultElementOnMainPage;
    @extend .defaultMainElement;
}

.agrandir{
    font-family: "Agrandir Bold";
    font-size: clampW(1.2em, 1.3em, 200px, 2000px);
}

h1 {
    font-family: "Agrandir Bold";
    font-size: clampW(1.5em, 3em, 200px, 2000px);
    color: $teamColor;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.groupImage{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    height: 100vh;
}

.headerImage{  
    position: relative;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100vh;
    object-fit: cover;
}

.headerImage::after{
    content: "";
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 30%;
    bottom: 0px;
    left: 0px;
    background: $imageFadeOut;
}

.teamColor{
    color: $teamColor;
}

.big{
    font-size: 1.7em;
}

#buttonDiv{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0px; 
}

@media (width < 400px){
    #buttonDiv{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 1em;
    }

    #buttonDiv button:last-of-type{
        grid-area: 2 / 1 / 3 / 2 !important;
    }

    #buttonDiv button:first-of-type{
        grid-area: 1 / 1 / 2 / 2 !important;
    }
}

#buttonDiv button{
    width: 100%;
    height: 100%;
    font-size: clampW(0.7em, 1.5em, 200px, 2000px);
    font-family: "Agrandir Bold";
    color: $white;
    background-color: $teamColor;
    border-radius: 0.5em;
    padding: 20px;
    cursor: pointer;
}

#buttonDiv button:first-of-type{
    grid-area: 1 / 1 / 2 / 2;
}

#buttonDiv button:last-of-type{
    grid-area: 1 / 2 / 2 / 3;
}

@media (width < #{600 * math.div($iframeWidthInPercent, 100%)}px){
    .headerDiv, .headerImage{
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16/7;
    }
}

@media (width < 800px){
    .visible .headerDiv, .visible .headerImage{
        aspect-ratio: 16/9 !important;
        width: 100%;
        height: auto;
    }
}