#svg1{
    animation: tireTurnAnimation 2s linear 0ms infinite forwards;
}

@keyframes tireTurnAnimation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}