@use "../../src/scss/Variables.scss" as vars;


*{
    --swiper-theme-color: #{vars.$teamColor} !important;
    --swiper-pagination-bullet-inactive-color: #{darken(vars.$teamColor, 10%)} !important;
}


swiper-container{
    height: 14vh;
    max-height: 300px;
    min-height: 80px;
}

swiper-slide{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide:has(img.big){
    align-items: start;
}

swiper-slide img{
    max-width: 50%;
    max-height: 50%;
    width: 50%;
}

swiper-slide img.big{
    object-fit: contain;
    max-width: 100%;
    max-height: calc(100% - 24px);
}

.swipeContainerWrapper{
    width: 100%;
    height: min-content;
    grid-area: 2 / 1 / 3 / 2;
}


.swipeContainerWrapper::before {
  left: 0;
  background: linear-gradient(to right, vars.$gray-800, transparent);
}

.swipeContainerWrapper::after {
  right: 0;
  background: linear-gradient(to left, vars.$gray-800, transparent);
}
