@use "../../src/scss/Variables.scss" as *;
@use "../../src/scss/Settings.scss" as *;
@use "../../src/scss/bgStyles.scss" as *;
@use "./gallery.scss" as *;
@use "./justifiedGallery.min.css" as *;
@use "../../src/scss/clamp.scss" as *;
@use "sass:math";


@font-face {
    font-family: "Agrandir Bold";
    src: url("../../src/fonts/AgrandirBold.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    src: url("../../src/fonts/Poppins-Regular.ttf") format("truetype");
}

h1 {
    font-family: "Agrandir Bold";
    font-size: clampW(1.5em, 3em, 200px, 2000px);
    color: $teamColor;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.headerImage{
    width: 100%;
    max-width: 100%;
    object-fit: cover;
    max-height: 100%;
    height: 100vh;
}

.headerDiv{  
    position: relative;
    max-width: 100%;
    width: 100%;
    max-height: 100%;
    height: 100vh;
    object-fit: cover;
}

.headerDiv::after{
    content: "";
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 30%;
    bottom: 0px;
    left: 0px;
    background: $imageFadeOut;
}


#loadMore{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: $teamColor;
    color: white;
    border-radius: 20px;
    font-size: 1.2rem;
    cursor: pointer;
}

#loadMore:hover{
    background-color: darken($teamColor, 10%);
}

#loadMore:active{
    background-color: darken($teamColor, 20%);
}

@media (width < #{600 * math.div($iframeWidthInPercent, 100%)}px){
    .headerDiv, .headerImage{
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16/7;
    }
}

@media (width < 800px){
    .visible .headerDiv, .visible .headerImage{
        aspect-ratio: 16/9 !important;
        width: 100%;
        height: auto;
    }
}