@use "../../src/scss/Variables.scss" as vars;
@use "../../src/scss/Settings.scss" as settings;

#titleGallery{
    color: vars.$teamColor;
    font-family: "Agrandir Bold" !important;
    @if(settings.$useLetterSpacingInHeaders == 1){
        letter-spacing: 2px;
    }
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: min-content;
    margin-bottom: 2em;
}

#gallery{
    width: 80%;
    height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}