@use "./Fonts.scss" as *;
@use "./GlobalStyles.scss" as *;
@use "./navBar.scss" as *;
@use "./bgStyles.scss" as *;
@use "./carReveal.scss" as *;
@use "./whatIsStemRacing.scss" as *;
@use "./newsStyle.scss" as *;
@use "./aboutUs.scss" as *;
@use "./sponsoring.scss" as *;
// @use "./sendBtnAnimation.scss" as *;
// @use "./contact.scss" as *;
// @use "./footer.scss" as *;
@use "./imageFullScreen.scss" as *;
@use "./countdown.scss" as *;
@use "./otherPages.scss" as *;
@use "./langElement.scss" as *;
@use "./theCar.scss" as *;
@use "./readMore.scss" as *;
@use "./iframeTransition.scss" as *;
@use "./gofundme.scss" as *;
@use "./gallery.scss" as *;