@use "./navBar.scss" as navBar;
@use "./Variables.scss" as vars;
@use "./Settings.scss" as settings;
@use "./clamp.scss" as *;

#carReveal .carRevealVideo{
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
    object-fit: cover;
}

#carReveal{
    position: relative;
    margin-top: 5em;

    width: 100%;
    max-width: 100vw;
    max-height: calc(100vh - navBar.$navBarHeight);
    min-width: 100vw;
    width: 100vw;
    aspect-ratio: 16/9;
}

#uiAboveVideo{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    display: grid;
    grid-template-columns: 45% 1fr;
    grid-template-rows: 25% 2fr 20% 0.5fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

#uiAboveVideo *{
    background: rgba(0,0,0,0.25);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

#uiAboveVideo h1{
    font-family: "Agrandir Bold";
    font-size: 1.5em;
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    align-self: center;
    color: vars.$textColor;
    // text-shadow: vars.$textShadowColor vars.$textShadowLeft vars.$textShadowTop;
    backdrop-filter: none;
    background-color: transparent;
    @if(settings.$useLetterSpacingInHeaders == 1){
        letter-spacing: 2px;
    }
}

#uiAboveVideo p{
    font-family: "Poppins";
    font-size: 0.9em;  
    width: 100%;
    grid-area: 3 / 1 / 4 / 2;
    justify-self: center;
    align-self: center;
    margin-left: 20%;
    color: vars.$textColor;
    padding: 20px;
    line-height: 2em;
    @if(settings.$useLetterSpacing == 1){
        letter-spacing: 2px;
    }
}

#carReveal:has(img.carRevealVideo){
    #uiAboveVideo{
        display: none;
    }
}

@media (width < 1200px){
    #carReveal{
        container-type: inline-size;
        margin-top: 0px;
    }

    @container (width < 1000px){
        #uiAboveVideo{
            display: none;
        }
    }
}

#uiAboveVideo h1{
    color-interpolation-filters: linearRGB;
    text-shadow: 1px 1px 3px vars.$teamColorSecondary3;
}

#carReveal::after{
    content: "";
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 30%;
    bottom: 0px;
    left: 0px;
    background: vars.$imageFadeOut;
}

#carReveal #subtitle{
    position: absolute;
    z-index: 1001;
    width: 100%;
    height: 10%;
    bottom: 0px;
    left: 0px;
    color: vars.$teamColor;
    font-family: "Agrandir Bold";
    font-size: clampW(0.6em, 5em, 50px, 2000px);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 0px;
}