@font-face {
    font-family: "Agrandir Bold";
    src: url("../fonts/AgrandirBold.woff2") format("woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Poppins";
    src: url(../fonts/Poppins-Regular.ttf) format("truetype");
}