@use "./navBar.scss" as navBar;
@use "./countdown.scss" as countdown;

$animationTime: 0.5s;

iframe.transition{
    transition: none !important;
    pointer-events: none;
}

iframe.transition.open{
    left: var(--left) !important;
    top: var(--top) !important;
    width: var(--width) !important;
    height: var(--height) !important;
    position: fixed !important;  
    pointer-events: all;
}

iframe.transition.close{
    transition: all $animationTime ease-in-out,
    width $animationTime ease-in-out,
    height $animationTime ease-in-out !important;
    left: var(--left) !important; 
    top: var(--top) !important;
    width: var(--width) !important;
    height: var(--height) !important;
    position: fixed !important;
    pointer-events: none;
    z-index: 2002;
}

iframe.transition.opened{
    transition: all $animationTime ease-in-out,
    width $animationTime ease-in-out,
    height $animationTime ease-in-out !important;
    position: fixed !important;
    aspect-ratio: unset !important;

    left: 0px !important;
    top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 2002;
    pointer-events: all;
}

div:has(iframe.transition)::after,
div:has(iframe.transition)::before{
    transition: opacity $animationTime ease-in-out;
}

div:has(iframe.transition.open)::after,
div:has(iframe.transition.open)::before,
div:has(iframe.transition.close)::after,
div:has(iframe.transition.close)::before{
    opacity: 0;
}

@media (width < 1200px) and (width >= 500px){
    body:has(#countdown.visible) iframe.transition.opened{
        height: calc(100% - countdown.$countdownBottomHeight) !important;
        top: 0px !important;
    }
}

// @media (width < 500px){
//     iframe.transition.opened{
//         height: 100% !important;
//         top: 0px !important;
//     }
// }

@media (width >= 1200px){
    body:has(#countdown.visible) iframe.opened{
        height: calc(100% - navBar.$navBarHeight) !important;
        top: calc(navBar.$navBarHeight) !important;
        // transition: top $animationTime ease-in-out, height $animationTime ease-in-out;
    }
}


body:has(iframe.open) #countdown{
    opacity: 1;
    transition: opacity $animationTime ease-in-out;
}