@use "./Variables.scss" as vars;

#imageFullScreen{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: 1000000;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    padding: 5%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: url(../imgs/showImageFullScreen/Close.svg) 5 5, pointer;
}

#imageFullScreen.show{
    display: flex;
}

#imageFullScreen img{
    max-width: 100%;
    max-height: 100%;
    user-select: none;
    border: 5px solid #EEE;
    border-radius: 30px;
    cursor: default;
}

#imageFullScreen:not(.showImage) img{
    display: none;
}

#imageFullScreen.showImage .loadingScreen{
    display: none;
}

#imageFullScreen .loadingScreen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageFullScreen .loadingScreen embed{
    display: block;
    border: none;
    border-radius: 0px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
}

#imageFullScreen p{
    width: 100%;
    text-align: center;
    color: vars.$textColor;
    font-size: 1.2em;
}