@use "./Variables.scss" as *;
@use "./Settings.scss" as settings;
@use "./clamp.scss" as *;

$navBarHeight: 5em;

#navBar {
    width: 100%;
    height: $navBarHeight;
    background: linear-gradient(90deg, $gray-800, $teamColor);
    display: flex;
    align-items: center;
    // border-bottom: 1px solid white;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    z-index: 1000000;
}

#navBar #logo{
    width: 10%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#navButtons{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    height: 100%;
    margin-right: 2%;
    align-items: center;
}

#navButtons .navButton, #navButtonsMobile .navButtonMobile{
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: clampW(0.7em, 1.5em, 200px, 1200px);
    cursor: pointer;
    transition: all 0.5s;
    text-decoration: none;
    font-family: "Agrandir Bold";
    @if(settings.$useLetterSpacingInNavBar == 1){
        letter-spacing: 2px;
    }
}

#slideUnderline{
    position: absolute;
    height: 4px;
    background-color: white;
    border-radius: 5px;
    $animationTime: 0.3s;
    transition: left $animationTime, width $animationTime, opacity $animationTime ease-in-out;
}

#navMobile{
    display: none;
}

@media (width < 1200px) {
    #navBar{
        display: none;
    }

    #navMobile{
        display: block;
    }
}

// Hamburger Menu

#navMobile{
    width: 100%;
    height: 100%;
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    --hamburgerWidth: #{clampW(2.5em, 3.75em, 200px, 1200px)};
    --hamburgerHeight: #{clampW(2.5em, 3.75em, 200px, 1200px)};
}

#otherSide{
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    left: 50%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.4);
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition: transform 0.3s;
}

#menuSide{
    position: absolute;
    z-index: 1000;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $gray-700;
    transform: scaleX(0);
    transform-origin: 0% 50%;
    transition: transform 0.3s;
}

.icon-1,
.icon-2,
.icon-3 {
    position: absolute;
    left: 25%;
    top: 50%;
    width: calc(calc(var(--hamburgerWidth) / 2) + 2px);
    height: calc((var(--hamburgerHeight) / 10) / 2);
    background-color: black;
    transition: all 400ms cubic-bezier(.84, .06, .52, 1.8);
}

.icon-1 {
    transform: translateY(calc(0px - var(--hamburgerHeight) / 6));
    animation-delay: 100ms;
}

.icon-3 {
    transform: translateY(calc(var(--hamburgerHeight) / 6));
    animation-delay: 250ms;
}

.hamburger-icon {  
    z-index: 10000;
    position: absolute;
    height: var(--hamburgerHeight);
    width: var(--hamburgerWidth);
    top: 20px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    background: #EC008C80;
    pointer-events: all !important;
    &:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }
}

.icon-1.a {
    transform: rotate(40deg);
}

.icon-3.b {
    transform: rotate(-40deg);
}

.icon-2.c {
    opacity: 0;
}

.clear {
    clear: both;
}

#menuSide{
    #logoMobile{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #navButtonsMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 80%;
        text-decoration-color: $teamColor;
        text-align: center;
    }
    

    #navButtonsMobile .navButtonMobile.selected{
        text-decoration: underline;
        text-decoration-color: $teamColor !important;
        text-decoration-thickness: 4px;
    }

    #navButtonsMobile .navButtonMobile:hover{
        text-decoration: underline;
        text-decoration-color: darken($teamColor, 30%);
        text-decoration-thickness: 4px;
        transition: none;
    }
}

#navMobile:has(.icon-1.a){
    pointer-events: all;
}

#navMobile{
    pointer-events: none;
}

#navMobile:has(.icon-1.a) #menuSide{
    transform: scaleX(1);
    transform-origin: 0% 50%;
}

#navMobile:has(.icon-1.a) #otherSide{
    transform: scaleX(1);
    transform-origin: 100% 50%;
}

#navMobile:has(.icon-1.a) .hamburger-icon{
    left: calc(50% + 20px);
}