@use "./Variables.scss" as vars;
@use "./Settings.scss" as settings;
@use "./clamp.scss" as *;

#news{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    margin: auto;
}

#news h1{
    @extend .title;
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    font-size: clampW(1.8em, 4em, 200px, 2000px);
    line-height: 1em;
    color: vars.$textColor;
    text-align: center;
    margin-bottom: 0px;
    @if(settings.$useLetterSpacingInHeaders == 1){
        letter-spacing: 2px;
    }
}

.newsArticle{
    padding: 20px;
    border-radius: 20px;
    background-color: vars.$teamColor;
    box-sizing: content-box
}

#colorChange{
    @extend .newsArticle;
    grid-area: 1 / 1 / 2 / 2;
}

#colorChange img{
    grid-area: 1 / 2 / 3 / 3;
    max-width: 100%;
    max-height: 30vh;
    object-fit: contain;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    margin: 10px;
    width: 100%;
    height: 100%;
    background-color: #{vars.$teamColorSecondary4};
    padding: 20px;
}

#colorChange p{
    grid-area: 2 / 1 / 3 / 2;
}

#colorChange p strong{
    font-weight: 1000;
}

#colorChange h2{
    grid-area: 1 / 1 / 2 / 2;
}



#colorChange{
    @extend .newsArticle;
    grid-area: 2 / 1 / 3 / 2;
}

#wonDM{
    @extend .newsArticle;
    grid-area: 3 / 1 / 4 / 2;
}

#prepForDM{
    @extend .newsArticle;
    grid-area: 5 / 1 / 6 / 2;
    height: min-content;
}

#teamWonHH{
    @extend .newsArticle;
    grid-area: 6 / 1 / 7 / 2;
}

#wonDM h2, 
#teamWonHH h2, 
#prepForDM h2,
#colorChange h2{
    font-size: clampW(1em, 2em, 200px, 2000px);
    line-height: clampW(1.6em, 2.5em, 200px, 2000px);
    @extend .title;
    grid-area: 1 / 1 / 2 / 2;
    margin: 0px;
    text-align: center
}

#wonDM p,
#prepForDM p, 
#colorChange p,
#teamWonHH .textWrapper p,
#teamWonHH .textWrapper li{
    @extend .text;
    grid-area: 2 / 1 / 3 / 2;
    font-size: clampW(0.6em, 1.2em, 200px, 2000px);
    line-height: clampW(1em, 2em, 200px, 2000px);
    padding: 0px;
    margin: 0px;
    margin-top: 20px;
    word-break: break-word;
    overflow-wrap: break-word;
    // hyphens: auto;
    width: 100%;
    text-align: justify;
    align-self: center;
}

#prepForDM img{  
    grid-area: 1/2/3/3;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
}

#teamWonHH h2{
    grid-area: 1 / 1 / 2 / 2;
}

#teamWonHH .textWrapper{
    grid-area: 2 / 1 / 3 / 2;
    margin: 0px;
    padding: 0px;
}

#teamWonHH img[imgTeam=""]{
    grid-area: 1 / 2 / 3 / 3;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;  
    justify-self: center;
    align-self: center;
    margin: 10px;
}

#teamWonHH img[imgRenn=""]{
    grid-area: 1 / 3 / 3 / 4;
    max-width: 100%;
    object-fit: cover;
    border-radius: 10px;  
    justify-self: center;
    align-self: center;
    margin: 10px;
}

#teamWonHH .textWrapper li{
    margin: 0px;
    color: vars.$textColor;
}

#extraPrices{
    width: fit-content;
}

#extraPrices li{
    cursor: pointer;
    width: fit-content;
}

#extraPrices li:hover{
    font-weight: bolder;
}

#colorChange{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.1fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px; 
    margin-block: vars.$elementSpacing;
    padding: 20px;
}

#wonDM {
    display: grid;    
    grid-template-columns: 4fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr; 
    grid-column-gap: 25px;
    grid-row-gap: 0px; 
    margin-block: vars.$elementSpacing;
    padding: 20px;
}

#prepForDM{
    display: grid;    
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr;
    grid-column-gap: 25px;
    grid-row-gap: 0px; 
    margin-block: vars.$elementSpacing;
    padding: 20px;
}

#teamWonHH{
    margin-bottom: vars.$elementSpacing;
    display: grid;
    grid-template-columns: 48% repeat(2, 24%);
    grid-template-rows: 0.2fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 0px; 
    padding: 20px;
}


#wonDM{

    h2{
        grid-area: 1 / 1 / 2 / 2;
        color: vars.$textColor;
        @if(settings.$useLetterSpacingInHeaders == 1){
            letter-spacing: 2px;
        }
        @extend .title;
    }

    p{
        grid-area: 2 / 1 / 3 / 2;
    }

    p a{
        color: vars.$teamColorSecondary3;
        text-decoration: none;
        font-weight: bold;
    }

    img[alt="Foto von uns mit dem 2. Platz"]{
        grid-area: 1 / 2 / 3 / 3;
    }

    img[alt="Foto von unseren Preisen"]{
        grid-area: 1 / 3 / 3 / 4;
    }

    img[alt="Foto von unserem Teamstand bei der DM"]{
        grid-area: 1 / 4 / 3 / 5;
    }

    img{
        object-fit: cover;
        max-width: 100%;
        border-radius: 10px;
        justify-self: center;
        align-self: center;
        margin: 10px;
    }

}

@media (width < 1000px){
    #colorChange{
        display: grid;
        grid-template-columns: 2fr;
        grid-template-rows: 0.1fr auto auto;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
    }

    #colorChange h2{
        grid-area: 1 / 1 / 2 / 2;
        padding: 0px;
        margin: 0px;
    }

    #colorChange img{
        grid-area: 2 / 1 / 3 / 2;
    }

    #colorChange p{
        grid-area: 3 / 1 / 4 / 2;
    }
}


@media (width < 1650px){
    
    #wonDM{

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 0.1fr auto 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 0px; 
        
        h2{
            grid-area: 1 / 1 / 2 / 3;
        }

        p{
            grid-area: 3 / 1 / 4 / 3;
        }

        img[alt="Foto von uns mit dem 2. Platz"]{
            grid-area: 2 / 1 / 3 / 2;
        }

        img[alt="Foto von unseren Preisen"]{
            grid-area: 2 / 2 / 3 / 3;
        }

        img[alt="Foto von unserem Teamstand bei der DM"]{
            display: none;
        }
    }


    #prepForDM{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto min-content;
        grid-column-gap: 0px;
        grid-row-gap: 10px; 
    }

    #prepForDM h2{
        grid-area: 1 / 1 / 2 / 2;
        height: min-content;
    }

    #prepForDM img{
        grid-area: 2 / 1 / 3 / 2;
        max-height: 100%;
    }

    #prepForDM p{
        grid-area: 3 / 1 / 4 / 2;
        height: min-content;
    }


    #teamWonHH{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: min-content auto min-content;
        grid-column-gap: 5%;
        grid-row-gap: 10px; 
    }

    #teamWonHH h2{
        grid-area: 1 / 1 / 2 / 3;
    }
    
    #teamWonHH img[imgteam=""]{
        grid-area: 2 / 1 / 3 / 2;
        justify-self: center;
        align-self: center;
    }
    
    #teamWonHH img[imgrenn=""]{
        grid-area: 2 / 2 / 3 / 3;
        justify-self: center;
        align-self: center;
    }
    
    #teamWonHH .textWrapper{
        grid-area: 3 / 1 / 4 / 3;
    }

    #teamWonHH .textWrapper{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }
    
    #teamWonHH .textWrapper p{
        grid-area: 1 / 1 / 2 / 2;
    }
    
    #teamWonHH .textWrapper ul{
        grid-area: 2 / 1 / 3 / 2;
    }
    
    // #news h1{
    //     font-size: vars.$titleFontSizeMobile;
    // }

    // #news #prepForDM h2, 
    // #news #teamWonHH h2, 
    // #news #wonDM h2{
    //     font-size: 2em * settings.$scaleFontSizeMobile;
    // }

    // #news #prepForDM p, 
    // #news #teamWonHH .textWrapper p, 
    // #news #teamWonHH .textWrapper li, 
    // #news #teamWonHH .textWrapper li,
    // #news #wonDM p{
    //     font-size: 1.2em * settings.$scaleFontSizeMobile;
    // }

}