@use "./navBar.scss" as navBar;
@use "./countdown.scss" as countdown;

$animationTime: 0.5s;

#otherPages{
    width: 100%;
    height: calc(100% - navBar.$navBarHeight);
    position: fixed;
    top: navBar.$navBarHeight;
    left: 0px;
    z-index: 6000;
    transition: top $animationTime ease-in-out, height $animationTime ease-in-out;
    transform-origin: center top;
    display: none;
}

body:has(#countdown.visible) #otherPages{
    height: calc(100% - navBar.$navBarHeight - countdown.$countdownHeight);
    top: calc(navBar.$navBarHeight + countdown.$countdownHeight);
    transition: top $animationTime ease-in-out, height $animationTime ease-in-out;
}

body:has(#otherPages iframe.open) #countdown{
    opacity: 1;
    transition: opacity $animationTime ease-in-out;
}

#otherPages iframe{
    width: 100%;
    height: 100%;
    border: none;
    transition: opacity $animationTime ease-in-out;
    opacity: 0;
    position: absolute;
}

#otherPages iframe.hidden{
    display: none;
    pointer-events: none;
}

#otherPages iframe.open{
    transition: opacity $animationTime ease-in-out;
    opacity: 1;
    pointer-events: all;
}

html:has(#otherPages.open){
    overflow: hidden;
}

#otherPages.open{
    transition: top $animationTime ease-in-out, height $animationTime ease-in-out;
    display: block;
}

body:has(#otherPages.open) #slideUnderline{
    opacity: 0;
}