@use "./Variables.scss" as vars;

#theCar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-block: calc(vars.$elementMarginMainPage / 2);
    @extend .defaultMainElement;

    .wrapper{
        position: relative;
    }

    .wrapper::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 15%;
        background: vars.$imageFadeIn;
    }

    .wrapper::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 15%;
        background: vars.$imageFadeOut;
    }
    

    .wrapper{
        width: var(--width);
        height: var(--height);
    }

    img, iframe{
        width: 100%;
        object-fit: cover;
        aspect-ratio: vars.$elementAspectRatio;
    }

    p{
        @extend .defaultElementOnMainPage;  
        text-align: justify;
        align-self: center;  
        margin: 0;
    }

    button{
        font-family: "Poppins";
        font-weight: 400;
        font-style: normal;
        text-align: center;
    }

}

@media (width < 600px){
    #theCar img, #theCar iframe{
        aspect-ratio: 16/7 !important;
    }
}